# .env.example
VITE_DIRECTUS_URL=https://data.nesxp.com
VITE_DIRECTUS_STATIC_TOKEN=1US7kkCXks43DIJBn0XZlc0nQhAWA9x0
DIRECTUS_STATIC_TOKEN=
VITE_LINE_CHANNEL_ID=2009240188
VITE_LINE_REDIRECT_URI=https://ais-dev-gxjnrsyiqcxwz7c4mvte75-260301993622.asia-east1.run.app/line/callback
GEMINI_API_KEY=
LINE_CHANNEL_SECRET=b551a30a28f9ad6c169df9e66788e747
LINE_CHANNEL_ACCESS_TOKEN=
GPS_API_TOKEN=f184dc44-454a-7a69-50c5-0d5087c1e20b
VITE_LINE_ADMIN_GROUP_ID=
