# .env.example
VITE_DIRECTUS_URL=https://data.nesxp.com
VITE_DIRECTUS_STATIC_TOKEN=
VITE_LINE_CHANNEL_ID=
VITE_LINE_REDIRECT_URI=
GEMINI_API_KEY=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
GPS_API_TOKEN=
VITE_LINE_ADMIN_GROUP_ID=
